.container{
  display:grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
  background-color: #2196F3;
  padding:30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input{
  padding:15px;
  width: 80%;
  margin: auto;
  border: 1px solid lightgray;
  border-radius: 6px;
  font-size:16px;
}

.input:focus{
  outline: none;
}
.Header{
color: white;
text-align:center;
}
.weather-data {
  margin-top:100px;
  display:flexbox;
  flex-direction:row;
  align-items:center;
  text-align: center;
  background-color: #e9f2fa;
    
    
}
.invalid-city{
  font-size: 30px;
  font-weight: 200;
  color: white;
 
}
.city{
  font-size: 30px;
  font-weight: 200;
  color: white;
  text-align: center;
  border-style: outset;
  border-radius: 25px;
  border-color: #0b3046;
  background-color: #0b3046 ;
  padding: 10px;

}
.weather{
  font-size: 30px;
  font-weight: 200;
  color: white;
  border-style: dotted;
  border-radius: 25px;
  text-align: center;
  padding: 5px;
}
.temp{
  font-size: 30px;
  font-weight: 200;
  color: white;
  border-style: dotted;
  border-radius: 25px;
  text-align: center;
  padding: 5px;
}
.temp-min{
  font-size: 20px;
  font-weight: 200;
  color: white;
}
.temp-max{
  font-size: 20px;
  font-weight: 200;
  color: white;
}
.humidity{
  font-size: 30px;
  font-weight: 200;
  color: white;
  border-style: dotted;
  border-radius: 25px;
  text-align: center;
  padding: 5px;
}

